EPGU/vis/commons/common-0.2.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn://ibd-m/common/0.2.1" xmlns="urn://ibd-m/common/0.2.1"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">

    <xs:annotation>
        <xs:documentation>Общие объекты</xs:documentation>
    </xs:annotation>

    <xs:complexType name="DateOrDatePeriodType">
        <xs:annotation>
            <xs:documentation>Дата или диапазон дат</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="1" minOccurs="1">
            <xs:element name="date" type="DateType">
                <xs:annotation>
                    <xs:documentation>Точная дата</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="period" type="DatePeriodType">
                <xs:annotation>
                    <xs:documentation>Неточная дата (диапазон)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="DatePeriodType">
        <xs:annotation>
            <xs:documentation>Диапазон дат</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="startDate" type="DateType" maxOccurs="1" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>Начальная дата</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="endDate" type="DateType" maxOccurs="1" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>Конечная дата</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateType">
        <xs:annotation>
            <xs:documentation>Дата</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="year" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Год</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="month" type="xs:integer" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Месяц</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="day" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>День</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TimeType">
        <xs:annotation>
            <xs:documentation>Время</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="hour" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Час</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="minutes" type="xs:integer" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Минута</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="seconds" type="xs:integer" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Секунда</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AddressObjectType">
        <xs:annotation>
            <xs:documentation>Значение из ФИАС</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="code" type="GUID" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Уникальный идентификатор записи</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="shortName" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Краткое наименование типа объекта</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="value" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Официальное наименование</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FIASAddressType">
        <xs:annotation>
            <xs:documentation>Адрес по ФИАС</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="region" type="AddressObjectType">
                <xs:annotation>
                    <xs:documentation>Регион. Справочник "ФИАС".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="area" type="AddressObjectType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Район. Справочник "ФИАС"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="city" type="AddressObjectType">
                <xs:annotation>
                    <xs:documentation>Город. Справочник "ФИАС".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="cityArea" type="AddressObjectType">
                <xs:annotation>
                    <xs:documentation>Внутригородской район. Справочник "ФИАС"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="place" type="AddressObjectType">
                <xs:annotation>
                    <xs:documentation>Населенный пункт. справочник "ФИАС"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="street" type="AddressObjectType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Улица. Справочник "ФИАС".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="additionalArea" type="AddressObjectType">
                <xs:annotation>
                    <xs:documentation>Доп. территория. Справочник "ФИАС"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="additionalStreet" type="AddressObjectType">
                <xs:annotation>
                    <xs:documentation>Улица на доп. территории. Справочник "ФИАС"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="house" type="AddressObjectType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Дом. Справочник "ФИАС".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="section" type="AddressObjectType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Корпус. Справочник "ФИАС".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="building" type="AddressObjectType">
                <xs:annotation>
                    <xs:documentation>Строение. Справочник "ФИАС"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="apartment" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Квартира</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="unstructured" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Неструктурированный адрес</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="GUID">
        <xs:annotation>
            <xs:documentation>UUID</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="36"/>
            <xs:pattern
                value="[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}"
            />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ClassifierValueType">
        <xs:annotation>
            <xs:documentation>Значение из словаря</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" name="code" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Код</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="value" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Значение</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CodexArticleType">
        <xs:annotation>
            <xs:documentation>Статья правонарушения</xs:documentation>
            <xs:documentation>Поле «Статья часть» заполняется значением «00», если у статьи нет части.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="1" name="codexType" type="ClassifierValueType">
                <xs:annotation>
                    <xs:documentation>Вид кодекса</xs:documentation>
                    <xs:documentation>Словарь «Вид кодекса»</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="codexTitle" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Название кодекса</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="countryIssued" type="ClassifierValueType">
                <xs:annotation>
                    <xs:documentation>Страна, выпустившая кодекс</xs:documentation>
                    <xs:documentation>Словарь «Страна рождения»</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="edition" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Редакция кодекса, дата</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="offenceArticle" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Наименование статьи</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="articleNum" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Статья номер</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="articleNote" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Статья примечание</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="articlePart" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Статья часть</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="articleParagraph" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Статья пункт</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameType">
        <xs:annotation>
            <xs:documentation>Фамилия, имя, отчество</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="lastName" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Фамилия</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="firstName" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Имя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="patronymic" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Отчество</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SNILSType">
        <xs:annotation>
            <xs:documentation>СНИЛС</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="11"/>
            <xs:pattern value="\d{11}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PhoneNumberType">
        <xs:annotation>
            <xs:documentation>Формат номера телефона</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="\+\d+ \(\d+\) \d+-\d+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="EmptyType">
        <xs:annotation>
            <xs:documentation>Пустой тег</xs:documentation>
        </xs:annotation>
    </xs:complexType>
</xs:schema>
