EPGU/common/gismu-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        targetNamespace="urn://mvd/gismu/common/0.0.1"
        xmlns:tns="urn://mvd/gismu/common/0.0.1"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified">

    <xs:annotation>
        <xs:documentation>Общие типы объектов для подсистем ГИСМУ</xs:documentation>
    </xs:annotation>

    <!-- 1. Базовые типы -->
    <!-- 1.1 Идентификаторы -->
    <xs:simpleType name="innerID">
        <xs:annotation>
            <xs:documentation>Внутренний ID записи в ГИСМУ</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:long">
            <xs:length value="19"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="GUID">
        <xs:annotation>
            <xs:documentation>UUID</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="36"/>
            <xs:pattern
                    value="[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}"
            />
        </xs:restriction>
    </xs:simpleType>

    <!-- 1.2 Маски -->
    <xs:simpleType name="SNILS">
        <xs:annotation>
            <xs:documentation>СНИЛС</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="11"/>
            <xs:pattern value="\d{11}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PhoneNumber">
        <xs:annotation>
            <xs:documentation>Формат номера телефона</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="\+\d+ \(\d+\) \d+-\d+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="EmailAddress">
        <xs:annotation>
            <xs:documentation>Адрес электронной почты</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
            <xs:pattern value="[0-9a-zA-Z_.\-]{2,50}[@]{1}[0-9a-zA-Z_./-]{2,50}[.]{1}[a-zA-Z]{2,5}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SovietStyleDocumentSeriesType">
        <xs:annotation>
            <xs:documentation>Серии документов, таких как свидетельства о рождении, советские паспорта, и т.д: римская
                цифра, тире, две прописные буквы кириллицы.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
            <xs:pattern value="[IVXLCDM]{1,3}[\-][А-Я]{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- 1.4 Данные ФНС -->
    <xs:simpleType name="PhysicalPersonINN">
        <xs:annotation>
            <xs:documentation>ИНН физического лица</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="12"/>
            <xs:pattern value="\d{12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OGRNSoleProprietor">
        <xs:annotation>
            <xs:documentation>ОГРН индивидуального предпринимателя</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="15"/>
            <xs:pattern value="[3]{1}\d{14}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LegalPersonINN">
        <xs:annotation>
            <xs:documentation>ИНН юридического лица</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="10"/>
            <xs:pattern value="\d{10}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OGRNCompany">
        <xs:annotation>
            <xs:documentation>ОГРН юридического лица</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="13"/>
            <xs:pattern value="[125]{1}\d{12}"/>
        </xs:restriction>
    </xs:simpleType>


    <!-- 1.5 Ограничения-->
    <xs:simpleType name="digits-7">
        <xs:annotation>
            <xs:documentation>Строка, состоящая из семи цифр. Например номер загранпаспорта.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="7"/>
            <xs:pattern value="\d{7}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="digits-6">
        <xs:annotation>
            <xs:documentation>Строка, состоящая из шести цифр. Например номер паспорта РФ.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="6"/>
            <xs:pattern value="\d{6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="digits-4">
        <xs:annotation>
            <xs:documentation>Строка, состоящая из четырёх цифр. Например серия паспорта РФ.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="4"/>
            <xs:pattern value="\d{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="digits-2">
        <xs:annotation>
            <xs:documentation>Строка, состоящая из двух цифр. Например серия загранпаспорта.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="2"/>
            <xs:pattern value="\d{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="rus-and-num-500">
        <xs:annotation>
            <xs:documentation>Русский текст, длиной до 500 символов.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="500"/>
            <xs:pattern value="[а-яА-ЯёЁ\-\s,.0-9]{1,500}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="rus-and-num-250">
        <xs:annotation>
            <xs:documentation>Русский текст, длиной до 250 символов.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="250"/>
            <xs:pattern value="[а-яА-ЯёЁ\-\s,.0-9]{1,250}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="rus-and-num-100">
        <xs:annotation>
            <xs:documentation>Русский текст, длиной до 100 символов.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
            <xs:pattern value="[а-яА-ЯёЁ\-\s,.0-9]{1,100}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="rus-and-num-50">
        <xs:annotation>
            <xs:documentation>Русский текст, длиной до 50 символов.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
            <xs:pattern value="[а-яА-ЯёЁ\-\s,.0-9]{1,50}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="rus-500">
        <xs:annotation>
            <xs:documentation>Русский текст, длиной до 500 символов, цифры не допускаются.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="500"/>
            <xs:pattern value="[а-яА-ЯёЁ\-\s,.]{1,500}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="rus-250">
        <xs:annotation>
            <xs:documentation>Русский текст, длиной до 250 символов, цифры не допускаются.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="250"/>
            <xs:pattern value="[а-яА-ЯёЁ\-\s,.]{1,250}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="rus-100">
        <xs:annotation>
            <xs:documentation>Русский текст, длиной до 100 символов, цифры не допускаются.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
            <xs:pattern value="[а-яА-ЯёЁ\-\s,.]{1,100}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="rus-50">
        <xs:annotation>
            <xs:documentation>Русский текст, длиной до 50 символов, цифры не допускаются.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
            <xs:pattern value="[а-яА-ЯёЁ\-\s,.]{1,50}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-500">
        <xs:restriction base="xs:string">
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-250">
        <xs:restriction base="xs:string">
            <xs:maxLength value="250"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-100">
        <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-50">
        <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-20">
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-10">
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- 2. Трудовая деятельность -->
    <xs:complexType name="WorkOrStudyInfo">
        <xs:annotation>
            <xs:documentation>Сведения о работе или учебе</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="organisation" type="tns:string-250">
                <xs:annotation>
                    <xs:documentation>Место работы или учёбы. Полное название организации</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="organisationPlace" type="tns:string-250" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Адрес места работы или учёбы. Полный адрес организации</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="appointment" type="tns:string-250">
                <xs:annotation>
                    <xs:documentation>Должность</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="phoneNumber" type="tns:PhoneNumber" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Телефон</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="email" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Адрес электронной почты</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="faxNumber" type="tns:PhoneNumber" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Факс</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <!-- 3. Документы -->
    <!-- 3.1 Непосредственно документы -->
    <xs:complexType name="CorePersonDocument">
        <xs:annotation>
            <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="documentType" type="tns:innerID">
                <xs:annotation>
                    <xs:documentation>Справочник "Тип документа"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:group ref="tns:AbstractDocumentData"/>
                <xs:group ref="tns:PassportRFData"/>
                <xs:group ref="tns:ForeignPassportRFData"/>
                <xs:group ref="tns:BirthCertificateOrSovietPassportData"/>
            </xs:choice>

            <xs:element name="FIO" type="tns:FIO"/>
            <xs:element name="birthDate" type="tns:Date"/>
            <!-- TODO: описание полей документа - согласовать набор полей с подсистемами, выдающими ДУЛ -->
        </xs:sequence>
    </xs:complexType>


    <!-- 3.2 Наборы ограничений для разных типов документа -->
    <xs:group name="AbstractDocumentData">
        <xs:annotation>
            <xs:documentation>
                Данные неизвестного документа
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="seriesCode" type="tns:string-100" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Серия</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="docNo" type="tns:string-100">
                <xs:annotation>
                    <xs:documentation>Номер</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="issueDt" type="tns:Date">
                <xs:annotation>
                    <xs:documentation>Дата выдачи</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="issuer" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Кем выдан</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:group name="PassportRFData">
        <xs:annotation>
            <xs:documentation>
                Данные паспорта гражданина РФ
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="seriesCode" type="tns:digits-4">
                <xs:annotation>
                    <xs:documentation>Серия</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="docNo" type="tns:digits-6">
                <xs:annotation>
                    <xs:documentation>Номер</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="issueDt" type="tns:Date">
                <xs:annotation>
                    <xs:documentation>Дата выдачи</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="issuer" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Кем выдан</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:group name="ForeignPassportRFData">
        <xs:annotation>
            <xs:documentation>
                Данные заграничного паспорта гражданина РФ
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="seriesCode" type="tns:digits-2">
                <xs:annotation>
                    <xs:documentation>Серия</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="docNo" type="tns:digits-7">
                <xs:annotation>
                    <xs:documentation>Номер</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="issueDt" type="tns:Date">
                <xs:annotation>
                    <xs:documentation>Дата выдачи</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="issuer" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Кем выдан</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:group name="BirthCertificateOrSovietPassportData">
        <xs:annotation>
            <xs:documentation>Паспорт CCCP или свидетельство о рождении РФ.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="seriesCode" type="tns:SovietStyleDocumentSeriesType">
                <xs:annotation>
                    <xs:documentation>Серия</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="docNo" type="tns:digits-6">
                <xs:annotation>
                    <xs:documentation>Номер</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="issueDt" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Дата выдачи</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="issuer" type="tns:rus-and-num-250">
                <xs:annotation>
                    <xs:documentation>Кем выдан</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:group>


    <!-- 4. Дата и время -->
    <xs:simpleType name="Date">
        <xs:annotation>
            <xs:documentation>Дата в формате ГГГГ-ММ-ДД с допуском нулей</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="10"/>
            <xs:pattern value="\d{4}-\d\d-\d\d"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- 5. Приложения -->
    <xs:complexType name="Attachments">
        <xs:annotation>
            <xs:documentation>Набор электронных копий документов, приложенных к заявлению</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="attachment" type="tns:Attachment" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Электронная копия документа</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Attachment">
        <xs:annotation>
            <xs:documentation>Электронная копия документа</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- TODO: описание полей электронной копии - согласовать с подсистемами и ЕПГУ -->
        </xs:sequence>
    </xs:complexType>

    <!-- 6. Данные ФЛ -->
    <xs:complexType name="FIO">
        <xs:annotation>
            <xs:documentation>ФИО (+латиница)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="lastName" type="tns:rus-50"/>
            <xs:element name="firstName" type="tns:rus-50"/>
            <xs:element name="middleName" type="tns:rus-50" minOccurs="0"/>
            <xs:element name="lastNameLat" type="tns:string-50" minOccurs="0"/>
            <xs:element name="firstNameLat" type="tns:string-50" minOccurs="0"/>
            <xs:element name="middleNameLat" type="tns:string-50" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- 7. Адреса -->
    <xs:complexType name="AddressObject">
        <xs:annotation>
            <xs:documentation>Значение из ФИАС</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="code" type="GUID" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Уникальный идентификатор записи</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="shortName" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Краткое наименование типа объекта</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="value" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Официальное наименование</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AddressFIAS">
        <xs:annotation>
            <xs:documentation>Адрес по классификатору ФИАС</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="region" type="tns:AddressObject">
                <xs:annotation>
                    <xs:documentation>Регион. Справочник "ФИАС".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="area" type="tns:AddressObject" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Район. Справочник "ФИАС"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="city" type="tns:AddressObject">
                <xs:annotation>
                    <xs:documentation>Город. Справочник "ФИАС".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="cityArea" type="tns:AddressObject">
                <xs:annotation>
                    <xs:documentation>Внутригородской район. Справочник "ФИАС"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="place" type="tns:AddressObject">
                <xs:annotation>
                    <xs:documentation>Населенный пункт. справочник "ФИАС"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="street" type="tns:AddressObject" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Улица. Справочник "ФИАС".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="additionalArea" type="tns:AddressObject">
                <xs:annotation>
                    <xs:documentation>Доп. территория. Справочник "ФИАС"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="additionalStreet" type="tns:AddressObject">
                <xs:annotation>
                    <xs:documentation>Улица на доп. территории. Справочник "ФИАС"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="house" type="tns:AddressObject" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Дом. Справочник "ФИАС".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="section" type="tns:AddressObject" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Корпус. Справочник "ФИАС".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="building" type="tns:AddressObject">
                <xs:annotation>
                    <xs:documentation>Строение. Справочник "ФИАС"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="apartment" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Квартира</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="unstructured" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Неструктурированный адрес</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RegAddress">
        <xs:annotation>
            <xs:documentation>
                Сведения о регистрации
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="regType" type="tns:RegistrationType"/>
            <xs:element name="startDate" type="tns:Date"/>
            <xs:element name="endDate" type="tns:Date" minOccurs="0"/>
            <xs:element name="address" type="tns:AddressFIAS"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="RegistrationType">
        <xs:annotation>
            <xs:documentation>
                Тип регистрации
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="По месту жительства"/>
            <xs:enumeration value="По месту пребывания"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
