EPGU/common/gismu-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        targetNamespace="urn://gismu_2/common/0.0.1"
        xmlns:tns="urn://gismu_2/common/0.0.1"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified">

    <xs:annotation>
        <xs:documentation>Общие типы объектов для подсистем ГИСМУ</xs:documentation>
    </xs:annotation>

    <!-- 1. Базовые типы -->
    <!-- 1.1 Идентификаторы -->
    <xs:simpleType name="innerID">
        <xs:annotation>
            <xs:documentation>Внутренний ID записи в ГИСМУ</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:long">
            <xs:length value="19"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="GUID">
        <xs:annotation>
            <xs:documentation>UUID</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="36"/>
            <xs:pattern
                    value="[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}"
            />
        </xs:restriction>
    </xs:simpleType>

    <!-- 1.2 Маски -->
    <xs:simpleType name="SNILS">
        <xs:annotation>
            <xs:documentation>СНИЛС</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="11"/>
            <xs:pattern value="\d{11}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PhoneNumber">
        <xs:annotation>
            <xs:documentation>Формат номера телефона</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="\+\d+ \(\d+\) \d+-\d+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="EmailAddress">
        <xs:annotation>
            <xs:documentation>Адрес электронной почты</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
            <xs:pattern value="[0-9a-zA-Z_.\-]{2,50}[@]{1}[0-9a-zA-Z_./-]{2,50}[.]{1}[a-zA-Z]{2,5}"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- 1.4 Данные ФНС -->
    <xs:simpleType name="PhysicalPersonINN">
        <xs:annotation>
            <xs:documentation>ИНН физического лица</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="12"/>
            <xs:pattern value="\d{12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OGRNSoleProprietor">
        <xs:annotation>
            <xs:documentation>ОГРН индивидуального предпринимателя</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="15"/>
            <xs:pattern value="[3]{1}\d{14}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LegalPersonINN">
        <xs:annotation>
            <xs:documentation>ИНН юридического лица</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="10"/>
            <xs:pattern value="\d{10}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OGRNCompany">
        <xs:annotation>
            <xs:documentation>ОГРН юридического лица</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="13"/>
            <xs:pattern value="[125]{1}\d{12}"/>
        </xs:restriction>
    </xs:simpleType>


    <!-- 1.5 Ограничения-->
    <xs:simpleType name="digits-7">
        <xs:annotation>
            <xs:documentation>Строка, состоящая из семи цифр. Например номер загранпаспорта.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="7"/>
            <xs:pattern value="\d{7}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="digits-6">
        <xs:annotation>
            <xs:documentation>Строка, состоящая из шести цифр. Например номер паспорта РФ.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="6"/>
            <xs:pattern value="\d{6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="digits-4">
        <xs:annotation>
            <xs:documentation>Строка, состоящая из четырёх цифр. Например серия паспорта РФ.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="4"/>
            <xs:pattern value="\d{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="digits-2">
        <xs:annotation>
            <xs:documentation>Строка, состоящая из двух цифр. Например серия загранпаспорта.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="2"/>
            <xs:pattern value="\d{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="rus-and-num-500">
        <xs:annotation>
            <xs:documentation>Русский текст, длиной до 500 символов.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="500"/>
            <xs:pattern value="[а-яА-ЯёЁ\-\s,.0-9]{1,500}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="rus-and-num-250">
        <xs:annotation>
            <xs:documentation>Русский текст, длиной до 250 символов.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="250"/>
            <xs:pattern value="[а-яА-ЯёЁ\-\s,.0-9]{1,250}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="rus-and-num-100">
        <xs:annotation>
            <xs:documentation>Русский текст, длиной до 100 символов.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
            <xs:pattern value="[а-яА-ЯёЁ\-\s,.0-9]{1,100}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="rus-and-num-50">
        <xs:annotation>
            <xs:documentation>Русский текст, длиной до 50 символов.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
            <xs:pattern value="[а-яА-ЯёЁ\-\s,.0-9]{1,50}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="rus-500">
        <xs:annotation>
            <xs:documentation>Русский текст, длиной до 500 символов, цифры не допускаются.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="500"/>
            <xs:pattern value="[а-яА-ЯёЁ\-\s,.]{1,500}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="rus-250">
        <xs:annotation>
            <xs:documentation>Русский текст, длиной до 250 символов, цифры не допускаются.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="250"/>
            <xs:pattern value="[а-яА-ЯёЁ\-\s,.]{1,250}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="rus-100">
        <xs:annotation>
            <xs:documentation>Русский текст, длиной до 100 символов, цифры не допускаются.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
            <xs:pattern value="[а-яА-ЯёЁ\-\s,.]{1,100}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="rus-50">
        <xs:annotation>
            <xs:documentation>Русский текст, длиной до 50 символов, цифры не допускаются.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
            <xs:pattern value="[а-яА-ЯёЁ\-\s,.]{1,50}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-500">
        <xs:restriction base="xs:string">
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-250">
        <xs:restriction base="xs:string">
            <xs:maxLength value="250"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-100">
        <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-50">
        <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-20">
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-10">
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- 2. Трудовая деятельность -->
    <xs:complexType name="WorkOrStudyInfo">
        <xs:annotation>
            <xs:documentation>Сведения о работе или учебе</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="organisation" type="tns:string-250" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Место работы или учёбы. Полное название организации</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="organisationPlace" type="tns:string-250" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Адрес места работы или учёбы. Полный адрес организации</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="appointment" type="tns:string-250" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Должность</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="phoneNumber" type="tns:PhoneNumber">
                <xs:annotation>
                    <xs:documentation>Телефон</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="email" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Адрес электронной почты</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="faxNumber" type="tns:PhoneNumber" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Факс</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <!-- 3. Документы -->
    <xs:complexType name="CorePersonDocument">
        <xs:annotation>
            <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- TODO: описание полей документа - согласовать набор полей с подсистемами, выдающими ДУЛ -->
        </xs:sequence>
    </xs:complexType>


    <!-- 4. Дата и время -->
    <xs:simpleType name="Date">
        <xs:annotation>
            <xs:documentation>Дата в формате ГГГГ-ММ-ДД с допуском нулей</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="10"/>
            <xs:pattern value="\d{4}-\d\d-\d\d"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- 5. Приложения -->
    <xs:complexType name="Attachments">
        <xs:annotation>
            <xs:documentation>Набор электронных копий документов, приложенных к заявлению</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Attachment" type="tns:Attachment" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Электронная копия документа</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Attachment">
        <xs:annotation>
            <xs:documentation>Электронная копия документа</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- TODO: описание полей электронной копии - согласовать с подсистемами и ЕПГУ -->
        </xs:sequence>
    </xs:complexType>

</xs:schema>
