EPGU/vis/vis-schema-epgu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn://mvd/gismu/VIS/1.0.0"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ns0="urn://mvd/gismu/VIS/1.0.0"
           xmlns:nsc="urn://mvd/gismu/common/0.0.1"
>

    <xs:import namespace="urn://mvd/gismu/common/0.0.1" schemaLocation="../common/gismu-types.xsd"/>


    <xs:annotation>
        <xs:documentation>Вид сведений для формирования в электронной форме и отправки в МВД России заявлений на
            оформление, выдачу, продление срока действия и восстановление виз иностранным гражданам и лицам без
            гражданства
        </xs:documentation>
    </xs:annotation>

    <xs:element name="EPGURequest" type="ns0:EPGURequestType">
        <xs:annotation>
            <xs:documentation>Базовый запрос</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="EPGUResponse" type="ns0:EPGUResponseType">
        <xs:annotation>
            <xs:documentation>Базовый ответ</xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="EPGUResponseType">
        <xs:annotation>
            <xs:documentation>Базовый ответ</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="changeOrderInfo" type="ns0:ChangeOrderInfoType">
                <xs:annotation>
                    <xs:documentation>Информация для изменения статуса заявления в ЛК ЕПГУ</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="env" type="ns0:EnvType" use="optional">
            <xs:annotation>
                <xs:documentation>Среда вызова</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Id" type="nsc:string-50" use="optional">
            <xs:annotation>
                <xs:documentation>Идентификатор элемента</xs:documentation>
            </xs:annotation>
        </xs:attribute>

    </xs:complexType>
    <xs:complexType name="ChangeOrderInfoType">
        <xs:annotation>
            <xs:documentation>
                Информация для изменения статуса заявления в ЛК ЕПГУ
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="orderId" type="ns0:OrderIdType">
                <xs:annotation>
                    <xs:documentation>Номер заявки в ЛК ЕПГУ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="statusCode" type="ns0:StatusCodeType">
                <xs:annotation>
                    <xs:documentation>Новый статус заявления</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="comment" type="ns0:string-2048">
                <xs:annotation>
                    <xs:documentation>Комментарий</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="OrderIdType">
        <xs:sequence>
            <xs:annotation>
                <xs:documentation>
                    Номер заявки в ЛК ЕПГУ
                </xs:documentation>
            </xs:annotation>
            <xs:element name="pguId" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="StatusCodeType">
        <xs:annotation>
            <xs:documentation>
                Новый статус заявления
            </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="orgCode" type="nsc:string-20">
                <xs:annotation>
                    <xs:documentation>
                        Код ведомственного статуса
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="techCode" type="xs:byte">
                <xs:annotation>
                    <xs:documentation>
                        Код статуса ЕПГУ
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:simpleType name="string-2048">
        <xs:restriction base="xs:string">
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="EPGURequestType">
        <xs:annotation>
            <xs:documentation>Запрос на оформление, выдачу, продление срока действия и восстановление виз ИГ или ЛБГ
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:group ref="ns0:RequestMainAttrs-ModelGroup"/>
            <xs:element name="visaForm" type="ns0:visaFormType">
                <xs:annotation>
                    <xs:documentation>Форма заявки на оформление визы</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="targetDepartment" type="nsc:innerID">
                <xs:annotation>
                    <xs:documentation>Подразделение, указанное заявителем</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AppliedDocuments" type="ns0:AppliedDocumentsType">
                <xs:annotation>
                    <xs:documentation>Сведения о документах, прилагаемых к заявлению</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>

        <xs:attribute name="env" type="ns0:EnvType" use="optional">
            <xs:annotation>
                <xs:documentation>Среда вызова</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Id" type="nsc:string-50" use="optional">
            <xs:annotation>
                <xs:documentation>Идентификатор элемента</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>


    <xs:complexType name="visaFormType">
        <xs:annotation>
            <xs:documentation>Форма заявки на оформление визы</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="actionKind" type="nsc:innerID">
                <xs:annotation>
                    <xs:documentation>
                        Характер необходимого действия. Справочник "Характер действий, связанных с визами"
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="visaInfo" type="ns0:VisaInfoType">
                <xs:annotation>
                    <xs:documentation>Сведения о запрашиваемой визе</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="applicantInfo" type="nsc:FullPersonData">
                <xs:annotation>
                    <xs:documentation>Данные о заявителе</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="invitingPartyInfo" type="ns0:InvitingPartyInfoType">
                <xs:annotation>
                    <xs:documentation>Данные о приглашающей стороне</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="receivingPartyInfo" type="ns0:ReceivingPartyInfoType">
                <xs:annotation>
                    <xs:documentation>Данные о принимающей стороне</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="migAccountAddress" type="nsc:AddressFIAS">
                <xs:annotation>
                    <xs:documentation>Адрес постановки на миграционный учет</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="visitPoints" type="ns0:VisitPointsType">
                <xs:annotation>
                    <xs:documentation>Маршрут предполагаемого пребывания</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="foreignLivingAddress" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Адрес в стране постоянного проживания</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="workOrStudyInfo" type="nsc:WorkOrStudyInfo">
                    <xs:annotation>
                        <xs:documentation>Сведения о работе</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="noWork" type="xs:boolean">
                    <xs:annotation>
                        <xs:documentation>Не работаю</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="russianRelativesList" type="ns0:RussianRelativesListType">
                <xs:annotation>
                    <xs:documentation>Родственники на территории РФ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="companionsList" type="ns0:CompanionsListType">
                <xs:annotation>
                    <xs:documentation>Родственники, вписанные в докумет, удостоверяющий личность</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="existingVisa" type="ns0:ExistingVisaType">
                <xs:annotation>
                    <xs:documentation>Сведения об имеющейся визе</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="VisaInfoType">
        <xs:annotation>
            <xs:documentation>Сведения о запрашиваемой визе
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="visaMultiplicity" type="nsc:innerID">
                <xs:annotation>
                    <xs:documentation>Кратность визы</xs:documentation>
                    <xs:documentation>Справочник "Кратность визы"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="visaCategory" type="nsc:innerID">
                <xs:annotation>
                    <xs:documentation>Вид визы: Обыкновенная</xs:documentation>
                    <xs:documentation>Справочник "Вид визы"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="entryGoalUnstructured" type="nsc:innerID">
                <xs:annotation>
                    <xs:documentation>Цель поездки</xs:documentation>
                    <xs:documentation>Справочник "Цели поездки"</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="VisitPointsType">
        <xs:annotation>
            <xs:documentation>Пункты посещения в России</xs:documentation>
        </xs:annotation>
        <xs:sequence maxOccurs="1">
            <xs:element maxOccurs="unbounded" name="visitPoint" type="nsc:AddressFIAS">
                <xs:annotation>
                    <xs:documentation>Пункт посещения в России. Адрес по ФИАС ло населенного пкнкта (регион, насел.
                        пункт)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="EnvType">
        <xs:annotation>
            <xs:documentation>Среда вызова</xs:documentation>
        </xs:annotation>
        <xs:restriction base="nsc:string-20">
            <xs:enumeration value="DEV">
                <xs:annotation>
                    <xs:documentation>ЕПГУ (среда для разработки)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UAT">
                <xs:annotation>
                    <xs:documentation>ЕПГУ (среда для демонстрации)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EXUAT">
                <xs:annotation>
                    <xs:documentation>ЕПГУ (оперативная среда для демонстрации)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TCOD">
                <xs:annotation>
                    <xs:documentation>EПГУ (среда для тестирования)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SCVDEV">
                <xs:annotation>
                    <xs:documentation>ЕПГУ (среда для разработки услуг)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PROD">
                <xs:annotation>
                    <xs:documentation>ЕПГУ (продуктивная среда)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:group name="RequestMainAttrs-ModelGroup">
        <xs:annotation>
            <xs:documentation>Основные атрибуты запроса</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="orderId" type="xs:long">
                <xs:annotation>
                    <xs:documentation>Номер заявления на ЕПГУ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="serviceCode" type="nsc:string-50">
                <xs:annotation>
                    <xs:documentation>Код услуги</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="procedureCode" type="nsc:string-50">
                <xs:annotation>
                    <xs:documentation>Код процедуры</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="user_type" type="nsc:string-50">
                <xs:annotation>
                    <xs:documentation>Тип заявителя</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:group>

    <xs:complexType name="ApplicantInfoType">
        <xs:annotation>
            <xs:documentation>Данные о заявителе</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="personData" type="nsc:FullPersonData">
                <xs:annotation>
                    <xs:documentation>Данные заявителя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="contactInfo" type="nsc:ContactInfo">
                <xs:annotation>
                    <xs:documentation>Контактная информация</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="InvitingPartyInfoType">
        <xs:annotation>
            <xs:documentation>Данные о приглашающей стороне</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="legalPersonPartyInfo" type="ns0:LegalPersonPartyInfoType">
                <xs:annotation>
                    <xs:documentation>Данные о приглашающей стороне - юр.лице</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="physicalPersonPartyInfo" type="ns0:PhysicalPersonPartyInfoType">
                <xs:annotation>
                    <xs:documentation>Данные о приглашающей стороне - физ.лице</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="ReceivingPartyInfoType">
        <xs:annotation>
            <xs:documentation>Данные о принимающей стороне</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="legalPersonPartyInfo" type="ns0:LegalPersonPartyInfoType">
                <xs:annotation>
                    <xs:documentation>Данные о принимающей стороне - юр.лице</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="physicalPersonPartyInfo" type="ns0:PhysicalPersonPartyInfoType">
                <xs:annotation>
                    <xs:documentation>Данные о принимающей стороне - физ.лице</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="LegalPersonPartyInfoType">
        <xs:annotation>
            <xs:documentation>Данные о стороне - юр. лице</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="organisationName" type="nsc:string-500">
                <xs:annotation>
                    <xs:documentation>Полное наименование организации</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="INN" type="nsc:LegalPersonINN">
                <xs:annotation>
                    <xs:documentation>ИНН</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="phoneNumber" type="nsc:PhoneNumberAdditional">
                <xs:annotation>
                    <xs:documentation>
                        Контактный телефон с кодом города и добавочным номером (при наличии)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="email" type="nsc:EmailAddress" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Адрес электронной почты</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="organisationAddress" type="nsc:AddressFIAS">
                <xs:annotation>
                    <xs:documentation>Фактический (почтовый) адрес</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PhysicalPersonPartyInfoType">
        <xs:annotation>
            <xs:documentation>Данные о стороне - физ.лице</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="personData" type="nsc:CorePersonDocument">
                <xs:annotation>
                    <xs:documentation>Данные физического лица</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="legalAddress" type="nsc:AddressFIAS">
                <xs:annotation>
                    <xs:documentation>Адрес</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="contactInfo" type="nsc:ContactInfo">
                <xs:annotation>
                    <xs:documentation>Контактная информация</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="CompanionInfoType">
        <xs:annotation>
            <xs:documentation>Сведения о споровождаемых лицах, следующих совместно</xs:documentation>
        </xs:annotation>
        <xs:sequence maxOccurs="1">
            <xs:element name="relationType" type="nsc:innerID">
                <xs:annotation>
                    <xs:documentation>Степень родства. Справочник "Степень родства"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="fullName" type="nsc:FIO">
                <xs:annotation>
                    <xs:documentation>ФИО сопровождаемог лица, следующих совместно</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="birthDate" type="nsc:Date">
                <xs:annotation>
                    <xs:documentation>Дата рождения. В формате ДД.ММ.ГГГГ (год полностью)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="citizenship" type="nsc:innerID">
                <xs:annotation>
                    <xs:documentation>Гражданство. Справочник "Гражданство"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="address" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Адрес постоянного проживания</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="RussianRelativesListType">
        <xs:annotation>
            <xs:documentation>Родственники на территории Российской Федерации</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="russianRelative" type="ns0:RussianRelativeInfoType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RussianRelativeInfoType">
        <xs:annotation>
            <xs:documentation>Родственник на территории Российской Федерации</xs:documentation>
        </xs:annotation>
        <xs:sequence maxOccurs="1">
            <xs:element name="relationType" type="nsc:innerID">
                <xs:annotation>
                    <xs:documentation>Степень родства. Справочник "Степень родства"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FIO" type="nsc:FIO">
                <xs:annotation>
                    <xs:documentation>ФИО</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="birthDate" type="nsc:Date">
                <xs:annotation>
                    <xs:documentation>Дата рождения. В формате ДД.ММ.ГГГГ (год полностью)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="address" type="nsc:AddressFIAS">
                <xs:annotation>
                    <xs:documentation>Адрес</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CompanionsListType">
        <xs:annotation>
            <xs:documentation>Родственники, вписанные в докумет, удостоверяющий личность</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="companionInfo" type="ns0:CompanionInfoType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="ExistingVisaType">
        <xs:annotation>
            <xs:documentation>Сведения об имеющейся визе</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="blankSeria" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Серия бланка</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="blankNumber" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Номер бланка</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="visaId" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Идентификатор визы</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="invitationNumber" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Номер приглашения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="validPeriod" type="nsc:DatePeriod">
                <xs:annotation>
                    <xs:documentation>Срок действия</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AppliedDocumentsType">
        <xs:annotation>
            <xs:documentation>Описание прилагаемых документов</xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="AppliedDocument" type="ns0:AppliedDocumentType">
                <xs:annotation>
                    <xs:documentation>Описание прилагаемого документа</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AppliedDocumentType">
        <xs:annotation>
            <xs:documentation>Описание прилагаемого документа</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="1" name="codeDocument" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Номер документа. Строка из 4 цифр</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="nsc:string-250">
                <xs:annotation>
                    <xs:documentation>Имя файла загруженного документа</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="URL" type="nsc:string-250">
                <xs:annotation>
                    <xs:documentation>Относительный путь к файлу внутри архива</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="businessName" type="nsc:string-250">
                <xs:annotation>
                    <xs:documentation>Бизнес-наименование документа</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="type" type="nsc:string-250">
                <xs:annotation>
                    <xs:documentation>Тип контента (например: application/pdf или любой другой общепринятый MIME-тип)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="digestValue" type="nsc:string-100">
                <xs:annotation>
                    <xs:documentation>Хэш файла в соответствии с ГОСТ</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>